/* Global */
*,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background) !important;
}

:root {
  --color-primary: #1a374d;
  --color-accent: #e5b84b;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-background-darker: #f8f9fa;
  --color-white: #ffffff;
}

.bold {
  font-weight: 600;
}

.title-text {
  font-size: 40px;
}

.par-text {
  font-size: 18px;
}

.font-poppins {
  font-family: "Poppins";
}

.font-inter {
  font-family: "Inter";
}

.font-montserrat {
  font-family: "Montserrat";
  font-weight: 500;
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  transition: background-color 0.4s ease-in-out;
}

.navbar.navbar-scrolled {
  background-color: var(--color-primary) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .nav-link {
  color: var(--color-white);
  font-weight: 500;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}
/* End Navbar */

.hero {
  background: url(../assets/hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}
.hero::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero .container {
  height: 100vh;
  z-index: 1;
  position: relative;
  color: #fff;
  text-align: center;
}

/* Profile */
.profile .container {
  height: 100vh;
}
/* End Profile */
